.rating {
    display: inline-block;
    opacity: 1;
}

    .rating input {
        display: none;
        opacity: 1;
    }

    .rating label {
        float: right;
        cursor: pointer;
        color: #a3a3a3;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
        margin-right: 8px;
    }

        .rating label:before {
            content: '\2605';
            font-size: 30px;
            transition: color 0.3s;
        }

        .rating input:checked ~ label,
        .rating label:hover,
        .rating label:hover ~ label {
            color: #ffc300;
            transform: scale(1.2);
            transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
            animation: bounce 0.5s ease-in-out alternate;
        }

@keyframes bounce {
    to {
        transform: scale(1.3);
    }
}
