
@{
    ViewBag.Title = "Check Mail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p>
        Please check your email and confirm your email address <a href="https://mail.google.com/mail/u/1/#inbox">here</a>.
    </p>
</div>