
@{
    ViewBag.Title = "EmailConfirmationFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Email Confirmation Failed</h2>
    <p>Your email confirmation was not successful. The account has been deleted.</p>
</div>
