@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100010559596542" target="_blank">Thái Phạm</a>
</address>